body { 
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}


/*  ----------  NAV -----------  */

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bolder;
}

nav ul li {
	margin : 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

nav ul li:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*  ----------  INDEX -----------  */
.index_text {
	font-size: 36px;
	text-align: center;
	margin : 20px;
	padding-bottom: 10px;
}

.index_text p {
	margin: 10px;
}

.name {
	font-weight: bold;
	font-size: 48px;
}

.index_main {
	display: flex;
	flex-direction: column;
	justify-content : space-around;
	align-items: center;
}

.index_icons{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.index_icons a {
	margin : 10px;
	padding: 10px;
}

.index_icons a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*  ----------  CV -----------  */

.cv_main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
}

.cv_main a {
	margin-right: 80px;
	margin-left: 80px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cv_main a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
